{
  :postgres {:dbtype "postgres"
             :dbname "recipes"
             :classname   "org.postgresql.Driver"
             :subprotocol "postgresql"
             :subname     "//localhost:5432/recipes"
             :host localhost
             :port 5432
             :user "chef"
             :password ""}}